#EnrollNow {
    padding-block: var(--module-padding);

    .startingDateWrapper {
        text-align: center;
    }
    .startingDate {
        background-color: black;
        font-size: 24px;
        padding-top: 2em;
        margin-right: 0;
    }
    .ctaEnroll {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .btn {
            max-width: 11.5em;
            margin-top: 2em;
        }
    }
}

@media (min-width: 638px) and (max-width: 812px) {
    .ctaEnroll {
        .ctaMessage {
            max-width: 500px;
        }
    }
}
