.introStatementFormat {
    display: flex;
    padding-block: var(--section-padding);
}

.introColumnContent {
    width: 60%;

    h2 {
        margin-top: 1.6em;
    }
}

.introColumnImage {
    width: 40%;
    display: flex;
    justify-content: center;
    picture {
        max-width: 400px;
    }
}

#IntroStatement picture {
    max-width: 180px;
}

@media (max-width: 650px) {
    .introStatementFormat {
        display: flex;
        flex-direction: column;
    }
    .introStatementFormat-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .introColumnContent,
    .introColumnImage {
        width: 100%;
    }

    .introColumnImage {
        justify-content: flex-start;
    }

   
}
