.startingDateWrapper {
    position: relative;
    text-align: center;
}
.startingDate {
    background-color: black;
    font-size: 1.5rem;
    padding-top: 2em;
    margin-right: 5%;
    font-weight: 400;
}

@media screen and (max-width: 650px) {
    .startingDate {
        font-size: 1.125rem;
        margin-left: 0;
    }

    #EnrollNow {
        .startingDateWrapper {
            .startingDate {
                font-size: 1.125rem;
            }
        }
    }
}
