.timeToBeginAnnouncement {
    padding-block: 2em;
    margin-block: var(--section-padding);
    display: flex;
    flex-direction: column;
    text-align: center;

    p {
        max-width: 100%;
    }
}

.overcomeText {
    padding: var(--section-padding);
    padding-inline: 0;
}
